<div class="container">
    <div class="btn-group btn-group-toggle">    <!-- Year & Month -->
        <button type="button" class="btn btn-outline-dark" [class.active]="checkDisplayDate(dis)"
        *ngFor="let dis of DisplayShow" (click)='DisplayMonth = dis; reloadMonth(DisplayMonth);'>
            {{MONTHS[dis.month]}} {{dis.year}}
        </button>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>wc</th>
      <th *ngFor='let day of DAYS'>{{day}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let week of WEEKS'>
        <th>{{ week.weekCommence | displayDate }}</th>
        <td *ngFor='let day of week.Days' [ngClass]="getCustomCss(day.date)">
          <p>{{ day.date | date:'dd MMM' }}</p>
            <p *ngFor='let home of day.visit' [ngClass]="getCustomColor(home.name)">{{ home.name }}</p>
            <p *ngFor='let agent of day.agent' [ngClass]="getCustomColor(agent.time)">{{ agent.time }}</p>
            <p *ngFor='let bins of day.bins' [ngClass]="getCustomColor(bins.type)">{{ bins.type }}</p>
        </td>
    </tr>
  </tbody>
</table>
