<div class="container">
  <h1>
    Auction
  </h1>
  <div class="btn-group btn-group-toggle">
    <button class="btn btn-danger" *ngIf='_AUTH.adminRights([1])' (click)="openNewAuction()">Create New Auction</button>
    <button type="button" class="btn btn-outline-success" [class.active]="checkStatusActive(-1)" (click)='tableService.status = StatusShow; tableService.displayDay = -1'>All</button>
    <button type="button" class="btn btn-outline-primary" [class.active]="checkStatusActive(sta)" *ngFor="let sta of StatusShow" (click)='tableService.status = [sta]'>{{StatusList[sta]}}</button>
    <button type="button" class="btn btn-outline-secondary" [class.active]="checkDayActive(i)"  *ngFor="let day of Days; index as i" (click)='tableService.displayDay = i; tableService.status = [1]'>{{ day }}</button>
  </div>
  <br>
  <div class="btn-group btn-group-toggle">
    <button type="button" class="btn btn-outline-success" [class.active]="tableService.category == undefined" (click)='tableService.category = undefined'>Reset</button>
    <button type="button" class="btn btn-outline-warning" [class.active]="tableService.category == i" *ngFor="let cat of CategoryList; index as i" (click)='tableService.category = i'>{{cat}}</button>
  </div>
  <hr>
  <form>
    <div class="form-group row">
      <div class="col-sm-3">
        Date Sort :
        <button type="button" class="btn btn-outline-success" [class.active]="tableService.sortDirection == 'asc'" (click)="tableService.sortDirection = 'asc'">Earliest</button>
        <button type="button" class="btn btn-outline-warning" [class.active]="tableService.sortDirection == 'desc'"(click)="tableService.sortDirection = 'desc'">Latest</button>
      </div>
      <label for="description" class="col-sm-2 col-form-label">Description search:</label>
        <div class="col-sm-5">
            <input name="searchTerm" [(ngModel)]="tableService.searchTerm"  class="form-control" id="description"
            placeholder="Search ..... ">
        </div>
      <span class="sm-3" *ngIf="tableService.loading$ | async">Loading...</span>
    </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngIf='tableService.status.length>1'>Status</th>
      <th style='text-align: center;'colspan="2" sortable="datelisted">Date Listed</th>
      <th *ngIf='tableService.category == undefined'>Category</th>
      <th>Item Description</th>
      <th>Initial Price</th>
      <th>Postage</th>
      <th>Weight</th>
      <th>Buttons</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of Auctions$ | async"
        [ngClass]="{'draft':isDraft(entry.status), 'inactive':needToRenew(entry)}">      
      <td *ngIf='tableService.status.length>1'>{{ StatusList[entry.status] }}</td>
      <td>{{ entry.auction.dateListed  | chooseDate : 1 }}</td>
      <td class="badge badge-primary">{{ entry.auction.dateListed | chooseDate : 0 }}</td>
      <td *ngIf='tableService.category == undefined'>{{ CategoryList[entry.category] }}</td>
      <td><ngb-highlight [result]="entry.auction.description" [term]="tableService.searchTerm"></ngb-highlight></td>
      <td>{{ entry.auction.initialPrice | displayPounds }}</td>
      <td>{{ entry.auction.postage | displayPounds }}</td>
      <td>{{ entry.auction.weight.toFixed(2) }}</td>
      <td>
        <button class="bth btn-secondary" *ngIf='[0,1].indexOf(entry.status) != -1 && _AUTH.adminRights([1])' (click)="openUnsold(entry)">Un/Re</button>
        <button class="bth btn-secondary" *ngIf='[1].indexOf(entry.status) != -1 && _AUTH.adminRights([1])' (click)="openSold(entry)">Sold</button>
        <button class="bth btn-danger" [routerLink]="['/ebaySite/detail', entry._id]">Details</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="narrow d-flex justify-content-between p-2"> <!-- Pagination -->
  <ngb-pagination
    [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize">
  </ngb-pagination>
  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="tableService.pageSize">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
  </select>
</div>