<div class="modal-header">
  <h4 class="modal-title">{{ home }}Home Visit</h4>
</div>
<div class="modal-body">
    <form [formGroup]='VisitForm'>
        <!-- date -->
        <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
                <input [class.is-invalid]='(date.invalid || !dateValid) && date.touched' [class.is-valid]='date.valid && date.touched && dateValid'
                formControlName='date' type="date" class="form-control" id="date"
                placeholder="Date" (blur)='checkDate(date.value)'>
                <ul *ngIf='date.valid && dateValid && date.dirty'> <!-- Success messages -->
                    <li *ngIf='dateValid && date.valid'  class='text-success'>{{ dateMsg }}</li>
                </ul>
                <ul *ngIf='(date.invalid || !dateValid) && date.dirty'> <!-- error messages -->
                    <li *ngIf='date.errors?.required' class='text-danger'>A Date Is Required</li>
                    <li *ngIf='!dateValid'  class='text-danger'>{{ dateMsg }}</li>
                </ul>
            </div>
        </div>
        <!-- person --> <!-- Droppdown List-->
        <div class="form-group row">
        <label for="private" class="col-sm-3 col-form-label">Person : </label>
            <div class="col-sm-9">
                <select formControlName='person'>
                    <option value="Dave">Dave</option>
                    <option value="Jacky">Jacky</option>
                    <option value="Andrew">Andrew</option>
                </select>
            </div>
        </div>
        <!-- Water -->
        <div class="form-group row">
            <label for="water" class="col-sm-5 col-form-label">Water : </label>
            <div class="col-sm-2">
                <input id="waterYes" type="radio" class="custom-control-input" value="Yes" name="water" formControlName="water">
                <label class="custom-control-label" for="waterYes">Yes</label>
            </div>
            <div class="col-sm-2">
                <input id="waterNo" type="radio" class="custom-control-input" value="No" name="water" formControlName="water">
                <label class="custom-control-label" for="waterNo">No</label>
            </div>
        </div>
        <!-- doors -->
        <div class="form-group row">
            <label for="doors" class="col-sm-5 col-form-label">Doors : </label>
            <div class="col-sm-2">
                <input id="doorsYes" type="radio" class="custom-control-input" value="Yes" name="doors" formControlName="doors">
                <label class="custom-control-label" for="doorsYes">Yes</label>
            </div>
            <div class="col-sm-2">
                <input id="doorsNo" type="radio" class="custom-control-input" value="No" name="doors" formControlName="doors">
                <label class="custom-control-label" for="doorsNo">No</label>
            </div>
        </div>
        <!-- windows -->
        <div class="form-group row">
            <label for="windows" class="col-sm-5 col-form-label">Windows : </label>
            <div class="col-sm-2">
                <input id="windowsYes" type="radio" class="custom-control-input" value="Yes" name="windows" formControlName="windows">
                <label class="custom-control-label" for="windowsYes">Yes</label>
            </div>
            <div class="col-sm-2">
                <input id="windowsNo" type="radio" class="custom-control-input" value="No" name="windows" formControlName="windows">
                <label class="custom-control-label" for="windowsNo">No</label>
            </div>
        </div>
        <!-- comments -->
        <div class="form-group row">
            <label for="comment" class="col-sm-3 col-form-label">Comment</label>
            <div class="col-sm-9">
                <textarea id='windows' name='windows' formControlName="comments" rows="5" cols="30"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
  <div *ngIf='!successMsg && !errorMsg'>
    <button type="button" class="btn btn-outline-success" *ngIf='home=="New "' [disabled]='processing' (click)="submit(VisitForm.value)">Save</button>
    <button type="button" class="btn btn-outline-primary" *ngIf='home=="Edit "' [disabled]='processing' (click)="update(VisitForm.value)">Update</button>
    <button type="button" class="btn btn-outline-danger" *ngIf='home=="Edit "' [disabled]='processing' (click)="delete()">Delete</button>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing' (click)="activeModal.dismiss('Cancel')">Cancel</button>
  </div>
  <div class='messages'> <!-- messages -->
      <div class="alert alert-success" role="alert" *ngIf='successMsg'>{{ successMsg }}</div>
      <div class="alert alert-danger" role="alert" *ngIf='errorMsg'>{{ errorMsg }}</div>
  </div>
</div>