container {
    height: 100%;
}
h1 {
    text-align: center;
    padding :10px;
}
.btn-group {
    margin:auto;
    width:100%
}
.btn-outline-success {
    margin: 0 50px;
    padding:50px;
    height: 300px;
}
