<div class="container jumbotron">
    <h1>Welcome To The Site  : {{ _AUTH.UserName }}</h1>
    <div class="btn-group">
        <button *ngIf='_AUTH.adminRights([0,1])' class="btn btn-outline-success" routerLink="/ebaySite" routerLinkActive="active">Ebay<br>Auction<br>Site</button>
        <button *ngIf='_AUTH.adminRights([2,3,4])' class="btn btn-outline-success" routerLink="/homeSite" routerLinkActive="active">Home<br>Visits<br>Site</button>
        <button *ngIf='_AUTH.adminRights([0,1,2,3,4])' class="btn btn-outline-success" routerLink="/initilizeUser" routerLinkActive="active">Change<br>User</button>   
    </div>
</div>