<div class="modal-header">
  <h4 class="modal-title">Delivery Auction</h4>
</div>
<div class="modal-body">
  <h4>{{ description }}</h4>
  <h5>Delivery Company : {{ company }}</h5>
  <h5>Tracking Number  : {{ trackingNo }}</h5>
  <form [formGroup]='DeliveredForm'>    
    <!-- date -->
    <div class="form-group row">
      <label for="date" class="col-sm-3 col-form-label">Date Delivered</label>
      <div class="col-sm-9">
        <input [class.is-invalid]='(date.invalid || !dateValid) && date.touched' [class.is-valid]='date.valid && date.touched && dateValid'
        formControlName='date' type="date" class="form-control" id="date"
        placeholder="Date Delivered" (blur)='checkDate()'>
        {{ dateMsg }}
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div *ngIf='!successMsg && !errorMsg'>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing' (click)="submit(DeliveredForm.value)">Delivered</button>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing' (click)="activeModal.close('cancel')">Cancel</button>
  </div>
  <div class='messages'> <!-- messages -->
      <div class="alert alert-success" role="alert" *ngIf='successMsg'>{{ successMsg }}</div>
      <div class="alert alert-danger" role="alert" *ngIf='errorMsg'>{{ errorMsg }}</div>
  </div>
</div>