/* You can add global styles to this file, and also import other style files */
.table {
    width:95%;
    margin-left: 2%;
    margin-right: 2%;
}
.table td{
    padding : 0 2px;
}
.table th{
    padding : 3px 2px
}
.narrow {
    width:75%;
    margin-left: 12%;
    margin-right: 12%;
}