<nav class="navbar navbar-expand-md navbar-light bg-light">    
    <a class="navbar-brand" routerLink="/">Mum's<br>Home Visit{{ envName }}</a>
    
    <button 
        class="navbar-toggler navbar-toggler-right"
        type="button" (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="showMainNav" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <button *ngIf='_AUTH.adminRights([2,3,4])' class="btn btn-outline-primary my-2 my-sm-0" routerLink="/homeSite/calender" routerLinkActive="active">Display<br>Calender</button>
            </li>
            <li class="nav-item" >
                <button *ngIf='_AUTH.adminRights([2,3,4])' class="btn btn-outline-primary my-2 my-sm-0" routerLink="/homeSite/visitList" routerLinkActive="active">Display<br>List</button>
            </li>
            <li class="nav-item" >
                <button *ngIf='_AUTH.adminRights([3,4])' class="btn btn-outline-primary my-2 my-sm-0" routerLink="/homeSite/visitHouse" routerLinkActive="active">Visit<br>House</button>
            </li>
            <li class="nav-item" >
                <button *ngIf='_AUTH.adminRights([4])' class="btn btn-outline-primary my-2 my-sm-0" routerLink="/homeSite/agentVisit" routerLinkActive="active">Estate Agent<br>Visit</button>
            </li>
            <li class="nav-item" >
                <button *ngIf='_AUTH.adminRights([4])' class="btn btn-outline-primary my-2 my-sm-0" routerLink="/homeSite/binDates" routerLinkActive="active">Update<br>Bin Dates</button>
            </li>
        </ul>        
    </div>
</nav>
<router-outlet></router-outlet>